<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
   <head>
      <meta charset="UTF-8"/>
      <title>Home</title>
   </head>
   <body>
    
     <h1  style="color: red;text-align: center;"> Multi DataSource with RoutingDataSource</h1>
       
      <h1  style="color: blue;text-align: center;"> Company-DB</h1>
      <ul>
         <li style="color: blue;text-align: center;"><a th:href="@{/company/list}">Show Company List</a></li>
      </ul>
       
       <h1  style="color: blue;text-align: center;"> Employees-DB</h1>
      <ul>
         <li style="color: blue;text-align: center;"> <a th:href="@{/employees/list}">Show Employees Lists</a>   </li>
      </ul>
       
   </body>
    
</html>